section {
	width: 75%; /*960/16*/
	margin: 1.5em auto; /*24/16*/
}

body {
	/*Step 1: Choose a font family;*/
	font-family: Georgia, serif; 

	/*Step 2: Set your default font size;*/
	font-size: 88.7%; /*this will be 16px*/

	/*Step 3: Choose your grid unit size;*/
	line-height: 1.5; /*16 x 1.5 = 24px*/

	/*Step 4: Display a visual grid;*/
	background-image: linear-gradient(#0ff 1px, transparent 1px);
	background-size: auto 1.5em;

	/*Step 5: Choose a typographic scale*/
	/* 12, 14, 16, 18, 21, 24, 36, 48, 60, 72*/
}

/*Step 6: style your stuff! */
h1 {
	/*divid the target font-size by the current/default font size set by the body. */
	font-size: 3em; /* 48/16 */
	/*changing the font size now changes the current context so now that affects t he rest of measurements within this element */
	/*divide the target line height by the new current context font size*/
	line-height: 1.5em; /* 72/48 */
	margin-bottom: 0.5em; /* 24/48 */
}

p {
	margin-bottom: 1.5em; /*24/16*/
	max-width: 30em; /* 480/16 will always be 30*/
}

h2 {
	font-size: 2.25em; /*36/16*/
	line-height: 1.333em; /*48/36*/
	margin-bottom: 0.667em; /*24/36*/
	margin-top: 1.333em; /*48/36*/
}

@media screen and (min-width: 50em){
	body{
		font-size: 100%
	}
}
@media screen and (min-width: 75em){
	body{
		font-size: 112.5%;
	}
}