  body {
    background-color: #fbfbfb;
  }

  article {
    width: 960px;
    margin: 0 auto;
  }

  img {
    float: left;
    margin-right: 1em;
  }

  footer {
    font-style: italic;
    color: #777;
  }

  /*********************** Your code goes here ***********************/
  /*Font size*/
  /* 12, 14, 16, 21, 24, 36, 48, 60, 72 */


  /*Multiple of 24 for the line height*/
  /* 24, 48, 72 */

  /*Math*/
  /*1.5 X 16 = 24px */

  body{
    font-family: 'Lato', sans-serif;
    font-size: 100%; 
    line-height: 1.5;
    background-image: linear-gradient(#0ff 1px, transparent 1px);
    background-size: auto 1.5em;
  }
  h1{
    font-size: 3.75em; /*60/16=3.75*/
    line-height: 1.2em; /*72/60=1.2*/
  }

  /*target size divide by context(font size of parent)*/

  h2{
    font-size: 3em; /*48/16=3*/
    margin-top: 3em; 
  }
  h2:first-child{
    margin-top: 0em;
  }
  h3{
    font-size: 2.25em; /*36/16=2.25*/
    line-height: 3em; /*48/36=1.3333*/
    margin-top: 3em;
  }
  h4{
    font-size: 1.5em; /*24/16=1.5*/
    line-height: 3em; 
  }


  h5, section h6{
    font-size: 1.3125em; /*21/16=1.3125em*/
    line-height: 1.5em;   
  }

  p{
    line-height: 1.5em; /*24/16=1.5em*/
    margin-bottom: 1.5em; /*24/16=1.5em*/
    max-width: 30em; /*30em*/
  }

li{
    font-size: 0.75em; /*12/16=0.75em*/
    line-height: 2em; /*24/12*/
  }

